<nav class="navbar">
  <div class="navbar-left">
    <!-- <img src="../../../images/logo.jpg" alt="Logo" /> -->
    <img src="/assets/images/logo.jpg" alt="logo" />
  </div>

  <ul class="navbar-center">
    <li class="dropdown yellow">
      <span>Consult an Expert ▼</span>
      <ul class="dropdown-menu">
        <li><a routerLink="/talk-to-lawyer">Talk to a Lawyer</a></li>
        <li><a routerLink="/talk-to-charted-accountant">Talk to a CA</a></li>
        <li><a routerLink="/talk-to-secretary-cmpny">Talk to a CS</a></li>
        <li><a routerLink="/talk-to-trademark">Talk to IP Lawyer</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <span>Start A Business <i class="arrow"></i></span>
      <ul class="dropdown-menu">
         <li><a routerLink="/pvt-ltd">Private Ltd Company</a></li>
        <li><a routerLink="/llp">LLP</a></li>
        <li><a routerLink="/opc">OPC</a></li>
        <li><a routerLink="/start-up">Startup India</a></li>
        <li><a routerLink="/proprietorship">Proprietorship</a></li>
        <li><a routerLink="/partnership">Partnership</a></li>
        <!-- <li><a routerLink="/pvt-ltd">Private Ltd Company</a></li>
        <li><a routerLink="/llp">LLP</a></li>
        <li><a routerLink="/opc">OPC</a></li>
        <li><a routerLink="/start-up">Startup India</a></li> -->

      </ul>
    </li>

    <li class="dropdown">
      <!-- <span>Tax & Compliance <i class="arrow"></i></span> -->
      <span>Gst & Income Tax <i class="arrow"></i></span>
      <ul class="dropdown-menu">
        <li><a routerLink="/gst-registration">Gst Registration</a></li>
        <li><a routerLink="/gst-filling">Gst Filling</a></li>
        <li><a routerLink="/indirect-tax">indirect-tax</a></li>
        <li><a routerLink="/RoDTEP">RoDTEP</a></li>

      </ul>
    </li>


    <!-- Documentation Dropdown -->
    <li class="dropdown tab">
      <!-- Documentation Dropdown -->
    <li class="dropdown tab">
      <span>Registration & Licenses <i class="arrow"></i></span>
      <div class="mega-dropdown">
        <div class="mega-content">
          <div class="left-buttons">
            <button *ngFor="let item of items" (click)="selectItem(item)"
              [class.active]="selectedItem?.name === item.name">
              <img [src]="item.icon" alt="icon" />
              <span>{{ item.name }}</span>
            </button>
          </div>

          <!-- Right side changes based on selection -->
          <div class="leftNavWrapper" *ngIf="selectedItem">
            <div class="dropDownContainerStyle" style="height:550px">
              <div class="leftNavContainer">
                <button class="btnwrapper btnwrapperActive">
                  <span class="dropDownImageWrapper">
                    <span class="dropDownImageContainer">
                      <img [src]="selectedItem.icon" [alt]="selectedItem.name" [title]="selectedItem.name" width="35"
                        height="30" />
                      <span class="dropDownName dropDownNameActive">{{ selectedItem.name }}</span>
                    </span>
                  </span>
                  <i class="arrow"></i>
                </button>
              </div>

              <div class="rightSection">
                <div class="columnContainer">
                  <div class="clib-mr-[57px]">
                    <div class="groupStyle">
                      <p class="groupNameStyle">{{ selectedItem.name }}</p>
                      <div class="linksPaddingStyle">
                        <p class="linkStyle" *ngFor="let link of selectedItem.links">
                          <a [href]="link.url">{{ link.label }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bookAppointmentwrapper">
                  <div class="referContainerStyle">
                    <img src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" alt="BookAppointment"
                      width="30" height="30" class="referContainerImageStyle" />
                    <div class="referContainerText">
                      <p class="referContainerTextPara">Prefer to talk to a business advisor first?</p>
                      <a href="https://vakilsearch.com/business-consulting-services-india" class="callBackLink">
                        Book a call back
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /leftNavWrapper -->
        </div>
      </div>
    </li>




    <!-- Documentation Dropdown -->
    <li class="dropdown tab">
      <!-- Documentation Dropdown -->
    <li class="dropdown tab">
      <span>Trademark & IP <i class="arrow"></i></span>
      <div class="mega-dropdown">
        <div class="mega-content">
          <div class="left-buttons">
            <button *ngFor="let trade of trademark" (click)="selectItem(trade)"
              [class.active]="selectedItem?.name === trade.name">
              <img [src]="trade.icon" alt="icon" />
              <span>{{ trade.name }}</span>
            </button>
          </div>

          <!-- Right side changes based on selection -->
          <div class="leftNavWrapper" *ngIf="selectedItem">
            <div class="dropDownContainerStyle" style="height:550px">
              <div class="leftNavContainer">
                <button class="btnwrapper btnwrapperActive">
                  <span class="dropDownImageWrapper">
                    <span class="dropDownImageContainer">
                      <img [src]="selectedItem.icon" [alt]="selectedItem.name" [title]="selectedItem.name" width="35"
                        height="30" />
                      <span class="dropDownName dropDownNameActive">{{ selectedItem.name }}</span>
                    </span>
                  </span>
                  <i class="arrow"></i>
                </button>
              </div>

              <div class="rightSection">
                <div class="columnContainer">
                  <div class="clib-mr-[57px]">
                    <div class="groupStyle">
                      <p class="groupNameStyle">{{ selectedItem.name }}</p>
                      <div class="linksPaddingStyle">
                        <p class="linkStyle" *ngFor="let link of selectedItem.links">
                          <a [href]="link.url">{{ link.label }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bookAppointmentwrapper">
                  <div class="referContainerStyle">
                    <img src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" alt="BookAppointment"
                      width="30" height="30" class="referContainerImageStyle" />
                    <div class="referContainerText">
                      <p class="referContainerTextPara">Prefer to talk to a business advisor first?</p>
                      <a href="https://vakilsearch.com/business-consulting-services-india" class="callBackLink">
                        Book a call back
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /leftNavWrapper -->
        </div>
      </div>
    </li>


  <!-- </ul>
  </div>
  </div>
  <div class="callback">
    <img src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" alt="callback" />
    <div>
      <p>Need IP Help?</p>
      <a href="#">Speak to Expert</a>
    </div>
  </div>
  </div>
  </li> -->

<!-- Documentation Dropdown -->
<li class="dropdown tab">
  <span id="others-tab">Others <i class="arrow"></i></span>
  <div class="mega-dropdownnnn">
    <section class="s_mega_menu_odoo_menu pt16 o_colored_level o_cc o_cc1">
      <div class="container">

        <!-- 🔁 Scrollable Box START -->
        <div class="scroll-box" style="max-width: 250px; margin-left: 40px; overflow-y: auto; max-height: 400px;">
          <div class="row">
            <div class="col-12 pt16 pb24 o_colored_level">

              <!-- DEED and documentations -->
              <h6 class="o_default_snippet_text text-uppercase fw-bold mt-0">
                DEED and documentations
              </h6>
              <div class="s_hr pt4 pb16">
                <hr class="w-100 mx-auto" style="border-top-width: 2px; border-top-color: var(--primary);" />
              </div>
              <nav class="nav flex-column">
                <a routerLink="/non-disclosure-agreement-nda" class="nav-link px-0">Non-Disclosure Agreement (NDA)</a>
                <a routerLink="/partnership-agreement" class="nav-link px-0">Partnership Agreement</a>
                <a routerLink="/service-level-agreement" class="nav-link px-0">Service Level Agreement</a>
                <a routerLink="/franchise-agreement" class="nav-link px-0">Franchise Agreement</a>
                <a routerLink="/master-service-agreement" class="nav-link px-0">Master Service Agreement</a>
                <a routerLink="/shareholders-agreement" class="nav-link px-0">Shareholders Agreement</a>
                <a routerLink="/joint-venture-agreement" class="nav-link px-0">Joint Venture Agreement</a>
                <a routerLink="/founders-agreement" class="nav-link px-0">Founders Agreement</a>
                <a routerLink="/vendor-agreement" class="nav-link px-0">Vendor Agreement</a>
                <a routerLink="/consultancy-agreement" class="nav-link px-0">Consultancy Agreement</a>
                <a routerLink="/non-compete-agreement" class="nav-link px-0">Non-Compete Agreement</a>
                <a routerLink="/share-sale-and-purchase-agreement" class="nav-link px-0">Share Sale and Purchase Agreement</a>
                <a routerLink="/memorandum-of-understanding" class="nav-link px-0">Memorandum of Understanding</a>
                <a routerLink="/sale-deed" class="nav-link px-0">Sale Deed</a>
                <a routerLink="/gift-deed" class="nav-link px-0">Gift Deed</a>
                <a routerLink="/trust-deed" class="nav-link px-0">Trust Deed</a>
              </nav>

              <!-- Accounting -->
              <h6 class="o_default_snippet_text text-uppercase fw-bold mt-4">
                Accounting
              </h6>
              <div class="s_hr pt4 pb16">
                <hr class="w-100 mx-auto" style="border-top-width: 2px; border-top-color: var(--primary);" />
              </div>
              <nav class="nav flex-column">
                <a routerLink="/accounting-bookkeeping" class="nav-link px-0">Accounting and Book-keeping</a>
                <a routerLink="/virtual-accountant" class="nav-link px-0">Book your Virtual Accountant</a>
                <a routerLink="/tds-return" class="nav-link px-0">TDS Return Filing</a>
                <a routerLink="/individual-tax" class="nav-link px-0">Individual Income Tax Filing</a>
                <a routerLink="/proprietorship-tax" class="nav-link px-0">Proprietorship Tax Return Filing</a>
                <a routerLink="/itr-llp" class="nav-link px-0">ITR for LLP</a>
                <a routerLink="/corporate-tax" class="nav-link px-0">Corporate Tax</a>
                <a routerLink="/tax-assessment" class="nav-link px-0">Income Tax Assessment</a>
              </nav>

            </div>
          </div>
        </div>
        <!-- 🔁 Scrollable Box END -->

      </div>
    </section>
  </div>
</li>

  
  
  
  </ul>

  <!-- Right: Login and Hamburger Toggle -->
  <div class="navbar-right">
   <!-- Login Button -->
<button (click)="toggleLoginModal()">Login</button>

<!-- Login Modal -->
<app-login [(visible)]="showLogin"></app-login>


    <button class="hamburger" (click)="toggleMobileMenu()">☰</button>
  </div>
  <!-- </nav> -->

  <!-- MOBILE MENU (shows on toggle click) -->
  <div class="mobile-menu" [class.open]="isMobileMenuOpen">
    <button class="close-btn" (click)="closeMobileMenu()">×</button>

    <ul class="mobile-nav-links">

      <!-- Consult an Expert with Dropdown -->
      <li>
        <button class="mobile-dropdown-toggle" (click)="toggleExpertDropdown()">
          Consult an Expert
          <span [class.rotated]="isExpertDropdownOpen">▼</span>
        </button>
        <ul class="mobile-submenu" *ngIf="isExpertDropdownOpen">
          <li><a routerLink="/talk-to-lawyer" (click)="closeMobileMenu()">Talk to a Lawyer</a></li>
          <li><a routerLink="/talk-to-charted-accountant" (click)="closeMobileMenu()">Talk to a CA</a></li>
          <li><a routerLink="/talk-to-secretary-cmpny" (click)="closeMobileMenu()">Talk to a CS</a></li>
          <li><a routerLink="/talk-to-trademark" (click)="closeMobileMenu()">Talk to IP Lawyer</a></li>
        </ul>
      </li>

      <!-- Business Setup with Dropdown -->
      <li>
        <button class="mobile-dropdown-toggle" (click)="toggleBusinessDropdown()">
          Business Setup
          <span [class.rotated]="isBusinessDropdownOpen">▼</span>
        </button>
        <ul class="mobile-submenu" *ngIf="isBusinessDropdownOpen">
          <li><a routerLink="/private-ltd" (click)="closeMobileMenu()">Private Limited</a></li>
          <li><a routerLink="/opc-registration" (click)="closeMobileMenu()">One Person Company</a></li>
          <li><a routerLink="/llp-registration" (click)="closeMobileMenu()">LLP Registration</a></li>
          <li><a routerLink="/partnership" (click)="closeMobileMenu()">Partnership Firm</a></li>
        </ul>
      </li>


      <!-- Other Nav Items -->
      <li><a routerLink="/gst-registration" (click)="closeMobileMenu()"> Compliance</a></li>
      <li><a routerLink="/documentation" (click)="closeMobileMenu()">Documentation</a></li>
      <li><a routerLink="/trademark" (click)="closeMobileMenu()">Trademark & IP</a></li>
    </ul>

  </div>

</nav>