


<!-- <div class="header-container" style="background: #022B50;">
    <header class="header">
      <img alt="image" loading="lazy" width="126" height="40" decoding="async" src="https://assets.zolvit.com/live-images/zolvit-logo-white.svg">
      <div class="webNavWrapper">
        <div class="webNavContainer">
          <div class="tabNameWrapper">
            <div style="background: linear-gradient(138.78deg, #FECE00 6.52%, #B46F12 213.01%); border-radius: 4px;">
              <p class="tabName">Consult an Expert</p>
            </div>
            <div class="dropDownContainer" id="expertconsult">
              <div class="linkWrapper">
                <p class="linkStyle"><a href="https://vakilsearch.com/talk-to-a-lawyer" rel="noopener noreferrer">Talk to a Lawyer</a></p>
                <p class="linkStyle"><a href="https://vakilsearch.com/chartered-accountant-services" rel="noopener noreferrer">Talk to a Chartered Accountant</a></p>
                <p class="linkStyle"><a href="https://vakilsearch.com/company-secretary" rel="noopener noreferrer">Talk to a Company Secretary</a></p>
                <p class="linkStyle"><a href="https://vakilsearch.com/intellectual-property-lawyer-services-in-india" rel="noopener noreferrer">Talk to a IP/Trademark Lawyer</a></p>
              </div>
            </div>
          </div>
          <div class="tabNameWrapper">
            <div>
              <p class="tabName">Business Setup</p>
            </div>
            <div class="dropDownContainer" id="business">
              <div class="leftNavWrapper">
                <div class="dropDownContainerStyle" style="height:550px">
                  <div class="leftNavContainer">
                    <button class="btnwrapper btnwrapperActive last:clib-mb-0">
                      <span class="dropDownImageWrapper">
                        <span class="dropDownImageContainer">
                          <img alt="International Business Setup" title="International Business Setup" loading="lazy" width="35" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/International+Business+Setup.svg" style="color: transparent;">
                          <span class="dropDownName dropDownNameActive">International Business Setup</span>
                        </span>
                      </span>
                      <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                    </button>
                    <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                      <span class="dropDownImageWrapper">
                        <span class="dropDownImageContainer">
                          <img alt="Company Registration" title="Company Registration" loading="lazy" width="35" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/Register+a+Business.svg" style="color: transparent;">
                          <span class="dropDownName dropDownNameInActive">Company Registration</span>
                        </span>
                      </span>
                      <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                    </button>
                    <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                      <span class="dropDownImageWrapper">
                        <span class="dropDownImageContainer">
                          <img alt="Company Name Search" title="Company Name Search" loading="lazy" width="35" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/Company+Name+Search.svg" style="color: transparent;">
                          <span class="dropDownName dropDownNameInActive">Company Name Search</span>
                        </span>
                      </span>
                      <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                    </button>
                    <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                      <span class="dropDownImageWrapper">
                        <span class="dropDownImageContainer">
                          <img alt="Licenses & Registrations" title="Licenses & Registrations" loading="lazy" width="35" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/Licenses+%26+Registrations.svg" style="color: transparent;">
                          <span class="dropDownName dropDownNameInActive">Licenses & Registrations</span>
                        </span>
                      </span>
                      <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                    </button>
                    <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                      <span class="dropDownImageWrapper">
                        <span class="dropDownImageContainer">
                          <img alt="Web Development" title="Web Development" loading="lazy" width="35" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/Web+Development.svg" style="color: transparent;">
                          <span class="dropDownName dropDownNameInActive">Web Development</span>
                        </span>
                      </span>
                      <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                    </button>
                  </div>
                  <div class="rightSection">
                    <div class="columnContainer x0i_nsRZPUUeHJ7RCN6U">
                      <div class="clib-mr-[57px]">
                        <div class="groupStyle clib-min-w-[210px]">
                          <p class="groupNameStyle">International Business Setup</p>
                          <div class="linksPaddingStyle">
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/usa-incorporation">US Incorporation</a></p>
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/registered-company-in-singapore">Singapore Incorporation</a></p>
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-united-kingdom">UK Incorporation</a></p>
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-netherlands">Netherlands Incorporation</a></p>
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-hong-kong">Hong Kong Company Incorporation</a></p>
                            <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/business-setup-in-dubai">Dubai Company Incorporation</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bookAppointmentwrapper">
                      <div class="referContainerStyle">
                        <img alt="BookAppointment" title="BookAppointment" loading="lazy" width="30" height="30" decoding="async" src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" style="color: transparent;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  
                  <div class="bookAppointmentwrapper">
                    <div class="referContainerStyle">
                      <img alt="BookAppointment" title="BookAppointment" loading="lazy" width="30" height="30" decoding="async" data-nimg="1" class="referContainerImageStyle clib-min-w-[30px]" style="color:transparent" src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg">
                      <div class="referContainerText">
                        <p class="referContainerTextPara">Prefer to talk to a business advisor first?</p>
                        <a href="https://vakilsearch.com/business-consulting-services-india" class="callBackLink">Book a call back</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabNameWrapper">
          <div>
            <p class="tabName">Documentation</p>
          </div>
          <div class="dropDownContainer" id="document">
            <div class="leftNavWrapper">
              <div class="dropDownContainerStyle" style="height:550px">
                <div class="leftNavContainer">
                  <button class="btnwrapper btnwrapperActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="Free Legal Documents" title="Free Legal Documents" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Copyright.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameActive">Free Legal Documents</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                  <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="Business Contracts" title="Business Contracts" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Business+Contracts.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameInActive">Business Contracts</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                  <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="Personal & Family" title="Personal & Family" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Personal+%26+Family.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameInActive">Personal & Family</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                  <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="Real Estate" title="Real Estate" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Real+Estate.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameInActive">Real Estate</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                  <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="Notices" title="Notices" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Notices.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameInActive">Notices</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                  <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
                    <span class="dropDownImageWrapper">
                      <span class="dropDownImageContainer">
                        <img alt="HR Policies" title="HR Policies" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/HR+Policies.svg" style="color: transparent;">
                        <span class="dropDownName dropDownNameInActive">HR Policies</span>
                      </span>
                    </span>
                    <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
                  </button>
                </div>
                <div class="rightSection">
                  <div class="columnContainer x0i_nsRZPUUeHJ7RCN6U">
                    <div class="clib-mr-[57px]">
                      <div class="groupStyle clib-min-w-[210px]">
                        <p class="groupNameStyle">Free Legal Documents</p>
                        <div class="linksPaddingStyle">
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents">All Legal Documents</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/rental-agreement-download-format">Rental Agreement</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/commercial-rental-agreement">Commercial Rental Agreement</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/experience-letter-format">Experience Letter</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/appointment-letter-format">Appointment Letter</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/affidavit-format-download">Affidavit Format</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/power-of-attorney-format">Power Of Attorney</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/income-certificate-format-download">Income Certificate</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/no-objection-certificate-noc-format-download">No Objection Certificate</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/salary-slip-sample-download">Salary Slip</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/resignation-letter-format-download">Resignation Letter</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/legal-heir-certificate-format-download">Legal Heir Certificate</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/relieving-letter-format">Relieving Letter</a></p>
                          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/documents/bonafide-certificate-format-download">Bonafide Certificate</a></p>

                          Here is the complete HTML and SCSS code for the Angular component:

**HTML Code**

```html


<div class="tabNameWrapper">
  <div>
    <p class="tabName">Others</p>
  </div>
  <div class="dropDownContainer" id="others">
    <div class="leftNavWrapper">
      <div class="dropDownContainerStyle" style="height:550px">
        <div class="leftNavContainer">
          <button class="btnwrapper btnwrapperActive last:clib-mb-0">
            <span class="dropDownImageWrapper">
              <span class="dropDownImageContainer">
                <img alt="Calculator" title="Calculator" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Accounting+%26+Tax.svg" style="color: transparent;">
                <span class="dropDownName dropDownNameActive">Calculator</span>
              </span>
            </span>
            <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
          </button>
          <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
            <span class="dropDownImageWrapper">
              <span class="dropDownImageContainer">
                <img alt="Fundraising" title="Fundraising" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Fundraising.svg" style="color: transparent;">
                <span class="dropDownName dropDownNameInActive">Fundraising</span>
              </span>
            </span>
            <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
          </button>
          <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
            <span class="dropDownImageWrapper">
              <span class="dropDownImageContainer">
                <img alt="NGO" title="NGO" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/NGO+Registration.svg" style="color: transparent;">
                <span class="dropDownName dropDownNameInActive">NGO</span>
              </span>
            </span>
            <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
          </button>
          <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
            <span class="dropDownImageWrapper">
              <span class="dropDownImageContainer">
                <img alt="Property & Personal" title="Property & Personal" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Property+%26+Personal.svg" style="color: transparent;">
                <span class="dropDownName dropDownNameInActive">Property & Personal</span>
              </span>
            </span>
            <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
          </button>
          <button class="btnwrapper btnwrapperInActive last:clib-mb-0">
            <span class="dropDownImageWrapper">
              <span class="dropDownImageContainer">
                <img alt="Lawyers & Experts" title="Lawyers & Experts" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" src="https://assets.vakilsearch.com/header-desktop/Fundraising.svg" style="color: transparent;">
                <span class="dropDownName dropDownNameInActive">Lawyers & Experts</span>
              </span>
            </span>
            <i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 -clib-rotate-45 arrow"></i>
          </button>
        </div>
        <div class="rightSection">
          <div class="columnContainer x0i_nsRZPUUeHJ7RCN6U">
            <div class="clib-mr-[57px]">
              <div class="groupStyle clib-min-w-[210px]">
                <p class="groupNameStyle">Calculator</p>
                <div class="linksPaddingStyle">
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools">All Calculators</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/income-tax-calculator">Income Tax Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/hra-calculator">HRA Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/gst-calculator">GST Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/emi-calculator">EMI Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/home-loan-emi-calculator">Home Loan EMI Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/salary-calculator">Salary Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/mutual-fund-returns-calculator">Mutual Fund Returns Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/retirement-planning-calculator">Retirement Planning Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/epf-calculator">EPF Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/ppf-calculator">PPF Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/nps-calculator">NPS Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/gratuity-calculator">Gratuity Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/simple-compound-interest-calculator">Simple Compound Interest Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/fd-calculator">FD Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/lumpsum-calculator">Lumpsum Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/tds-calculator">TDS Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/rd-calculator">RD Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/sip-calculator">SIP Calculator</a></p>
                  <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/tools/business-setup-calculator">Business Setup Calculator</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="bookAppointmentwrapper">
            <div class="referContainerStyle">
              <img alt="BookAppointment" title="BookAppointment" loading="lazy" width="30" height="30" decoding="async" data-nimg="1" class="referContainerImageStyle clib-min-w-[30px]" style="color:transparent" src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg">
              <div class="referContainerText">
                <p class="referContainerTextPara">Prefer to talk to a business advisor first?</p>
                <a href="https://vakilsearch.com/business-consulting-services-india" class="callBackLink">Book a call back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="Tss0tO69n5bQsZnBhzQO cnopemRTzfJJ16zt4q1Z Dsap6TELeefTOmDf4con">Login</button>
<div class="hamburgerWrapper">
  <div class="hamburgerContainer clib-left-0 clib-opacity-1">
    <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
    <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
    <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
  </div>
  <ul class="hanburgerList hamburgerListLess">
    <li class="linkStyle"><a href="https://vakilsearch.com/events">Events</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/products">Products</a></li>
    <li class="linkStyle"><a href="https://news.vakilsearch.com" rel="noreferrer noopener">News</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/blog">Blog</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/about-us">About Us</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/contact">Contact</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/media">Media</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/careers">Careers</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/customer-referer">Refer and Earn</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/partners-signup">Partner With Us</a></li>
    <li class="linkStyle"><a href="https://vakilsearch.com/business-consulting-services-india">Talk to a Expert</a></li>
  </ul>
</div>
</div>
</div>
</header>
<header style="background:#022B50" class="mobileHeader">
  <img alt="image" loading="lazy" width="126" height="40" decoding="async" data-nimg="1" style="color:transparent" src="https://assets.zolvit.com/live-images/zolvit-logo-white.svg">
  <div class="mobileWrapper">
    <img alt="user-login" title="user-login" loading="lazy" width="28" height="28" decoding="async" data-nimg="1" class="zxZVu1buBGTACXINmcZz" style="color:transparent" src="https://assets.vakilsearch.com/live-images/user-blue.svg">
    <div class="hamburgerContainer ">
      <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
      <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
      <div class="clib-block clib-bg-white clib-h-[3px] clib-w-6 clib-rounded-[3px] clib-relative clib-transition-all"></div>
    </div>
  </div>
</header>
<div class="mobileDropdownWrapper clib-max-h-0">
  <div class="mobileDropdownMenus">
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Consult an Expert" title="Consult an Expert" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Consult+an+expert.svg" style="color: transparent;">
        <p class="burgerItemStyle">Consult an Expert</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Business Setup" title="Business Setup" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Business+setup.svg" style="color: transparent;">
        <p class="burgerItemStyle">Business Setup</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Tax & Compliance" title="Tax & Compliance" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Tax+%26+complaince.svg" style="color: transparent;">
        <p class="burgerItemStyle">Tax & Compliance</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Trademark & IP" title="Trademark & IP" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Trademark+%26+IP.svg" style="color: transparent;">
        <p class="burgerItemStyle">Trademark & IP</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Documentation" title="Documentation" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Documentation.svg" style="color: transparent;">
        <p class="burgerItemStyle">Documentation</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="Others" title="Others" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/Others.svg" style="color: transparent;">
        <p class="burgerItemStyle">Others</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
    <div class="burgerItemWrapperStyle clib-left-0">
      <div class="burgerItemContainerStyle">
        <img alt="More" title="More" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="burgerImageStyle" src="https://assets.vakilsearch.com/header-mweb/more.svg" style="color: transparent;">
        <p class="burgerItemStyle">More</p>
      </div>
      <img src="https://assets.zolvit.com/live-images/zolvit-header/zolvit-arrow-right.svg" class="burgerImageStyle" alt="Right Arrow" title="Right Arrow" width="33" height="33">
    </div>
  </div>
  <div class="serviceListWrapper -clib-right-full">
    <p class="mobileTabGroupNameContainerStyle"><i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 clib-rotate-[135deg] mobileTabArrow"></i>Consult an Expert</p>
    <div class="clib-overflow-auto">
      <div class="groupStyle clib-min-w-[210px]">
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/talk-to-a-lawyer">Talk to a Lawyer</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/chartered-accountant-services">Talk to a Chartered Accountant</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-secretary">Talk to a Company Secretary</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/intellectual-property-lawyer-services-in-india">Talk to a IP/Trademark Lawyer</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="serviceListWrapper -clib-right-full">
    <p class="mobileTabGroupNameContainerStyle"><i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 clib-rotate-[135deg] mobileTabArrow"></i>Business Setup</p>
    <div class="clib-overflow-auto">
      <div class="groupStyle clib-min-w-[210px]">
        <a class="groupNameHrefStyle" href="https://vakilsearch.com/company-registration">Company Registration</a>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/private-limited">Private Limited Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/llp-registration">Limited Liability Partnership</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/opc-registration">One Person Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/sole-proprietorship">Sole Proprietorship</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/nidhi-company">Nidhi Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/producer-company">Producer Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/partnership-firm">Partnership Firm</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-registration/startup-india-scheme">Startup India Registration</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">International Business Setup</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/usa-incorporation">US Incorporation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/registered-company-in-singapore">Singapore Incorporation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-united-kingdom">UK Incorporation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-netherlands">Netherlands Incorporation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/incorporating-a-company-in-hong-kong">Hong Kong Company Incorporation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/business-setup-in-dubai">Dubai Company Incorporation</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Company Name Search</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://company.vakilsearch.com">Company Name Search</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-name-change">Change Company Name</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Licenses & Registrations</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/dsc-registration">Digital Signature Certificate</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/udyam">Udyam Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/udyam/msme">MSME Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/iso-certification">ISO Certification</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/fssai-registration">FSSAI [Food License]</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/import-export-code">IEC [Import/Export Code]</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/apeda-rcmc-registration">Apeda RCMC</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/spice-board-registration">Spice Board Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/federation-of-indian-export-organisations">FIEO Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/legal-metrology-online-registration">Legal Metrology</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/hallmark-registration">Hallmark Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/bis-registration">BIS Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/liquor-license">Liquor License</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/clra-registration-licensing">CLRA Registration & Licensing</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/import-export-code/ad-code-registration">AD Code Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/irda-insurance-license-india">IRDAI Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/drug-cosmetic-license-india">Drug & Cosmetic License</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/customs-clearance-services ">Customs Clearance</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Web Development</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/web-ecommerce-development">Web/E-Commerce Website Development</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="serviceListWrapper -clib-right-full">
    <p class="mobileTabGroupNameContainerStyle"><i class="clib-border-r-[3px] clib-border-b-[3px] clib-border-black clib-inline-block clib-p-1 clib-rotate-[135deg] mobileTabArrow"></i>Tax & Compliance</p>
    <div class="clib-overflow-auto">
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">GST and Other Indirect Tax</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/gst-registration">GST Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/gst-return-filing">GST Filing</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/gst/advisory-portal">GST Login Portal</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/hsn-code">HSN Code Finder</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/gst/cancellation-revocation">GST Cancellation and Revocation</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/gst/indirect-tax">Indirect Tax</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/rodtep-scheme">RoDTEP</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Changes in Pvt Ltd Company</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/appointment-of-director">Add a Director</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/removal-of-a-director">Remove a Director</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/increase-authorized-share-capital">Increase Authorized Capital</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/winding-up-of-company">Close the Pvt Ltd Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/strike-off-company">Strike off Company</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/changing-objectives-of-business">Change Objective/Activity</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/change-registered-office-company-address">Change Address</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Changes In Limited Liability Partnership</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/adding-a-designated-partner">Add Designated Partner</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/change-llp-agreement">Changes to LLP Agreement</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/close-your-limited-liability-partnership">Close the LLP</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Mandatory Annual Filings</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/online-accounting-compliance-service">Annual Compliance Services</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/llp-annual-filings">LLP Annual Filings</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/company-secretary/audit">Secretarial Audit</a></p>
        </div>
      </div>
      <div class="groupStyle clib-min-w-[210px]">
        <p class="groupNameStyle">Labour Compliance</p>
        <div class="linksPaddingStyle">
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/pf-registration">Provident Fund (PF) Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/esi-registration">ESI Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/professional-tax-registration">Professional Tax Registration</a></p>
          <p class="linkStyle"><a rel="noopener noreferrer" href="https://vakilsearch.com/shop-and-establishment-license">Shops and Establishments License</a></p>
          </div>
          </div>
          </div> -->



          <nav class="navbar">
            <div class="navbar-left">
              <img src="/assets/images/logo.jpg" alt="logo"/>
            </div>
          
            <ul class="navbar-center" [class.show]="isMenuOpen">
              <li class="dropdown yellow">
                <span>Consult an Expert ▼</span>
                <ul class="dropdown-menu">
                  <li><a routerLink="/talk-to-lawyer">Talk to a Lawyer</a></li>
                  <li><a routerLink="/talk-to-charted-accountant">Talk to a CA</a></li>
                  <li><a routerLink="/talk-to-secretary-cmpny">Talk to a CS</a></li>
                  <li><a routerLink="/talk-to-trademark">Talk to IP Lawyer</a></li>          
                </ul>
              </li>
          
              <li class="dropdown">
                <span>Business Setup <i class="arrow"></i></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Private Ltd Company</a></li>
                  <li><a href="#">LLP</a></li>
                  <li><a href="#">OPC</a></li>
                  <li><a href="#">Startup India</a></li>
                </ul>
              </li>
          
              <li class="dropdown">
                <span>Tax & Compliance <i class="arrow"></i></span>
                <ul class="dropdown-menu">
                  <li><a href="#">GST Registration</a></li>
                  <li><a href="#">GST Filing</a></li>
                  <li><a href="#">Indirect Tax</a></li>
                  <li><a href="#">RoDTEP</a></li>
                </ul>
              </li>
          
              <li class="dropdown tab">
                <span>Documentation <i class="arrow"></i></span>
                <div class="mega-dropdown">
                  <div class="mega-content">
                    <div class="left-buttons">
                      <button *ngFor="let item of items" (click)="selectItem(item)" [class.active]="selectedItem?.name === item.name">
                        <img [src]="item.icon" alt="icon" />
                        <span>{{ item.name }}</span>
                      </button>
                    </div>
          
                    <div class="leftNavWrapper" *ngIf="selectedItem">
                      <div class="dropDownContainerStyle" style="height:550px">
                        <div class="leftNavContainer">
                          <button class="btnwrapper btnwrapperActive">
                            <span class="dropDownImageWrapper">
                              <span class="dropDownImageContainer">
                                <img [src]="selectedItem.icon" [alt]="selectedItem.name" [title]="selectedItem.name" width="35" height="30"/>
                                <span class="dropDownName dropDownNameActive">{{ selectedItem.name }}</span>
                              </span>
                            </span>
                            <i class="arrow"></i>
                          </button>
                        </div>
          
                        <div class="rightSection">
                          <div class="columnContainer">
                            <div class="clib-mr-[57px]">
                              <div class="groupStyle">
                                <p class="groupNameStyle">{{ selectedItem.name }}</p>
                                <div class="linksPaddingStyle">
                                  <p class="linkStyle" *ngFor="let link of selectedItem.links">
                                    <a [href]="link.url">{{ link.label }}</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
          
                          <div class="bookAppointmentwrapper">
                            <div class="referContainerStyle">
                              <img src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" alt="BookAppointment" width="30" height="30" class="referContainerImageStyle"/>
                              <div class="referContainerText">
                                <p class="referContainerTextPara">Prefer to talk to a business advisor first?</p>
                                <a href="https://vakilsearch.com/business-consulting-services-india" class="callBackLink">Book a call back</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
          
              <li class="dropdown tab">
                <span>Trademark & IP <i class="arrow"></i></span>
                <div class="mega-dropdown">
                  <div class="mega-content">
                    <div class="left-buttons">
                      <button class="active">
                        <img src="https://assets.vakilsearch.com/header-desktop/Trademark.svg" alt="icon"/>
                        <span>Trademark Reg</span>
                      </button>
                      <button>
                        <img src="https://assets.vakilsearch.com/header-desktop/Copyright.svg" alt="icon"/>
                        <span>Copyright</span>
                      </button>
                    </div>
                    <div class="right-content">
                      <h3>Trademark Services</h3>
                      <ul>
                        <li><a href="#">Check Availability</a></li>
                        <li><a href="#">Trademark Filing</a></li>
                        <li><a href="#">Objection</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="callback">
                    <img src="https://assets.vakilsearch.com/header-desktop/bookAppoitment.svg" alt="callback"/>
                    <div>
                      <p>Need IP Help?</p>
                      <a href="#">Speak to Expert</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          
            <div class="navbar-right">
              <button class="login-btn" *ngIf="!isMobile">Login</button>
              <button class="hamburger" (click)="toggleMenu()">&#9776;</button>
          </div>
          </nav>
          