<!-- 1st section  -->

<section class="startup-india-section" *ngIf="startupInfo">
    <h2 class="section-heading">
        Empowering Lawyers to Build Successful Startups with Start-Up India
    </h2>

    <!-- Subheading -->
    <p class="section-subheading">
        Start-Up India: A New Opportunity for Lawyers to Grow Their Practice
    </p>
    <div class="container">
        <div class="startup-image">
            <img [src]="startupInfo.image" [alt]="startupInfo.title" />
        </div>
        <div class="startup-content">
            <h2>{{ startupInfo.title }}</h2>
            <p>{{ startupInfo.description }}</p>
            <ul>
                <li *ngFor="let benefit of startupInfo.benefits">{{ benefit }}</li>
            </ul>
            <a [href]="startupInfo.ctaLink" class="cta-button">
                {{ startupInfo.ctaText }}
            </a>
        </div>
    </div>
</section>



<!-- 2nd section  -->



<section class="startup-india-lawyer-section" *ngIf="lawyerInfo">
    <div class="container">
        <div class="lawyer-content">
            <h2>{{ lawyerInfo.title }}</h2>
            <p>{{ lawyerInfo.description }}</p>
            <ul>
                <li *ngFor="let benefit of lawyerInfo.benefits">{{ benefit }}</li>
            </ul>
            <a [href]="lawyerInfo.ctaLink" class="cta-button">
                {{ lawyerInfo.ctaText }}
            </a>
        </div>
        <div class="lawyer-image">
            <img [src]="lawyerInfo.image" [alt]="lawyerInfo.title" />
        </div>
    </div>
</section>



<!-- 3rd section  -->


<section id="startup-ecosystem">
    <div class="my-container">
        <div class="startup-hding">
            <h2>Legal Support for Startups</h2>
            <p>Bringing together the entire Indian and Global Startup community through virtual connects, mentorship and
                showcase opportunities.</p>
        </div>
        <div class="row row-flix mt-5">
            <div class="col-md-4 my-col-sm-4 display-flex-it">
                <div class="startup-ecosystem-box display-flex-it1">
                    <div class="startup-ecosystem">
                        <div class="startup-ecosystem-heading">
                            <h5>Lawyer</h5>
                        </div>
                        <div class="startup-ecosystem1">
                            <p>Mentorship, Advisory, Assistance, Resilience and Growth Portal for startups is a one-stop
                                platform for facilitation and guidance across all sectors, functions, stages, and
                                geographies.</p>
                            <a href="https:/ov.in/" target="_blank">Explore</a>
                            <div class="startup-ecosystem-img margin-top">
                                <img src="/content/dam/invest-india/newhomepage/maarg-mentorship.png?raw=1" alt=""
                                    title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-col-sm-4 display-flex-it net-pad-righ">
                <div class="startup-ecosystem-box display-flex-it1">
                    <div class="startup-ecosystem">
                        <div class="startup-ecosystem-heading">
                            <h5>Expert</h5>
                        </div>
                        <div class="startup-ecosystem1">
                            <p>With the aim to foster collaboration and create impact, BHASKAR connects entrepreneurs,
                                investors, mentors, policymakers, and other startup ecosystem players on a single
                                platform.</p>
                            <a href="https in/bhaskar">Explore</a>
                            <div class="startup-ecosystem-img">
                                <img src="/content/dam/invest-india/newhomepage/showcase-img.svg" alt="" title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-col-sm-4 display-flex-it net-pad-righ">
                <div class="startup-ecosystem-box display-flex-it1">
                    <div class="startup-ecosystem">
                        <div class="startup-ecosystem-heading">
                            <h5>Experience</h5>
                        </div>
                        <div class="startup-ecosystem1">
                            <p>With the aim to foster collaboration and create impact, BHASKAR connects entrepreneurs,
                                investors, mentors, policymakers, and other startup ecosystem players on a single
                                platform.</p>
                            <a href="https://.in/bhaskar">Explore</a>
                            <div class="startup-ecosystem-img">
                                <img src="/content/dam/invest-india/newhomepage/showcase-img.svg" alt="" title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- 4rth section  -->



<!-- social-media.component.html -->
<section id="socialmedia-min">
    <div class="social-wrap">
        <div class="startup-hding">
            <h2>Social Media</h2>
        </div>
        <div class="social-media">
            <ul>
                <li><a href="https://twitter.com/startupindia" data-tooltip="Twitter" target="_blank">
                    <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/twitter-icon.png" alt="" title=""></a>
                </li>
                <li class="link-color"><a href="https://www.instagram.com/startupindia.gov.in/" data-tooltip="Instagram" target="_blank">
                    <img src="https://www.startupindia.gov.in//content/dam/invest-india/newhomepage/instagram-icon.png" alt="" title=""></a>
                </li>
                <li class="insta-color"><a href="https://www.linkedin.com/company/startup-india" data-tooltip="LinkedIn" target="_blank">
                    <img src="https://www.startupindia.gov.in//content/dam/invest-india/newhomepage/linkedIn-icon.png" alt="" title=""></a>
                </li>
                <li class="faceb-color"><a href="https://www.facebook.com/StartupIndia/" data-tooltip="Facebook" target="_blank">
                    <img src="https://www.startupindia.gov.in//content/dam/invest-india/newhomepage/facebook-icon.png" alt="" title=""></a>
                </li>
                <li class="yout-color"><a href="https://www.youtube.com/channel/UCqFb-ynHTJ6_YRbdn-sFUvg" data-tooltip="YouTube" target="_blank">
                    <img src="https://www.startupindia.gov.in//content/dam/invest-india/newhomepage/youtube-icon.png" alt="" title=""></a>
                </li>
                <!--<li class="koo-color"><a href="https://www.kooapp.com/profile/startupindia" data-tooltip="Koo" target="_blank">
                    <img src="https://www.startupindia.gov.in/content/dam/invest-india/newhomepage/koo-icon.png" alt="" title="" /></a>
                </li>-->
                <li class="spot-color"><a href="https://podcasters.spotify.com/pod/show/startup-india" data-tooltip="Spotify" target="_blank">
                    <img src="https://www.startupindia.gov.in//content/dam/invest-india/newhomepage/spotify-icon.png" alt="" title=""></a>
                </li>
            </ul>
        </div>
    </div>
</section>



<!-- 5th section  -->


<div class="my-container">
    <div class="startup-hding">
      <h2>Startup Lawyer and Facilities</h2>
      <p>A plethora of resources and information guides for you to propel in your entrepreneurial journey, based on your current stage. For some of these resources, you may be asked to register on the Startup India portal.</p>
    </div>
  
    <div class="toolkits-facilities-wrapp">
      <!-- Left Tab Section -->
      <div class="tabs-left">
        <div class="radio-set">
          <ul>
            <li>
              <input type="radio" id="ideati" name="tab" checked />
              <label for="ideati">IDEATION</label>
            </li>
            <li>
              <input type="radio" id="validation" name="tab" />
              <label for="validation">VALIDATION</label>
            </li>
            <li>
              <input type="radio" id="early-traction" name="tab" />
              <label for="early-traction">EARLY TRACTION</label>
            </li>
            <li>
              <input type="radio" id="scaling" name="tab" />
              <label for="scaling">SCALING</label>
            </li>
          </ul>
        </div>
      </div>
  
      <!-- Right Content Section -->
      <div class="tabs-content">
        <!-- IDEATION Section -->
        <article class="tab-content" id="ideation">
          <div class="ideation-box">
            <h3>IDEATION</h3>
            <p>Where the entrepreneur has an interesting idea and is working on bringing it to life.</p>
            <div class="row">
              <div class="col-md-4 col-sm-6 ida-w100">
                <div class="ideation-list">
                  <ul>
                    <li><a href="https:/nline-courses.html"> Online Courses</a></li>
                    <li><a href="https:/arket-research.html">Market Research Reports</a></li>
                    <li><a href="https:/dea_bank.html">Idea Bank</a></li>
                    <li><a href="https:/tartup_india_notes.html">Blog Posts</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 toolkits-col-md-5-5 ida-w100">
                <div class="resource-ptn">
                  <img src="/content/dam/invest-india/newhomepage/Ideation-new.svg" alt="" title="" />
                </div>
              </div>
            </div>
          </div>
        </article>
  

        <article class="tab-content" id="validation">
          <div class="ideation-box">
            <h3>VALIDATION</h3>
            <p>Where the startup has been established, it is time to enter the market to grasp the first-ever set of customers.</p>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="ideation-list">
                  <ul>
                    <li><a href="https://maarg.startupindia.gov.in/" target="_blank">MAARG Mentorship</a></li>
                    <li><a href="https://seedfund.startupindia.gov.in/" target="_blank">Startup India Seed Fund Scheme</a></li>
                    <li><a href="https://www.startupindia.gov.in/content/sih/en/reources/resource-partners.html"> Partnered Services</a></li>
                    <li><a href="https://www.startupindia.gov.in/content/sih/en/funding.html">Funding Guide</a></li>
                    <li><a href="https://www.startupindia.gov.in/content/sih/en/ams-application/application-listing.html">Programs and Challenges</a></li>
                    <li><a href="https://www.startupindia.gov.in/content/sih/en/government-schemes.html">Central Government Schemes and Initiatives</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8">
                <div class="resource-ptn">
                  <img src="/content/dam/invest-india/newhomepage/Validation0-new.svg" alt="" title="" />
                </div>
              </div>
            </div>
          </div>
        </article>
  
     
      </div>
    </div>
  </div>
  


  <!-- 6th section  -->



  <div class="lawyer-opc-container">
    <h1>{{ title }}</h1>
  
    <section>
      <h2>What is an OPC (One Person Company)?</h2>
      <p>
        An One Person Company (OPC) is a type of company that has only one shareholder. 
        It provides the benefits of limited liability to the sole owner, which is similar to a private limited company, 
        but with simpler compliance requirements.
      </p>
    </section>
  
    <section>
      <h2>Key Features of OPC:</h2>
      <ul>
        <li><strong>Single Shareholder:</strong> The most significant feature of an OPC is that it can be owned by just one person.</li>
        <li><strong>Limited Liability:</strong> The liability of the shareholder is limited to the extent of their shareholding in the company.</li>
        <li><strong>Separate Legal Entity:</strong> OPC is a separate legal entity distinct from its owner, meaning the company can own property, enter into contracts, and file lawsuits.</li>
        <li><strong>Nominee:</strong> While the company can be owned by one person, a nominee must be appointed. The nominee is the person who will take over the company if the original shareholder passes away or becomes incapacitated.</li>
        <li><strong>Simplified Compliance:</strong> OPCs have fewer compliance requirements compared to other companies. For example, OPCs don't need to hold annual general meetings (AGMs) or have a board of directors.</li>
        <li><strong>No Minimum Paid-up Capital:</strong> Unlike other companies, OPCs do not require a minimum paid-up capital to be formed.</li>
      </ul>
    </section>
  
    <section>
      <h2>Lawyer OPC Company</h2>
      <p>
        A lawyer or legal professional may choose to set up an OPC for their legal practice for several reasons, 
        such as personal liability protection, ease of setup, and smoother operations. A law firm OPC may also be beneficial for 
        solo practitioners who prefer to keep their practice separate from their personal assets and want to maintain limited liability.
      </p>
    </section>
  
    <section>
      <h2>Setting Up a Lawyer's OPC</h2>
      <ol>
        <li><strong>Eligibility:</strong> Only individuals who are citizens and residents of India can form an OPC. The individual can act as the director and shareholder of the OPC. A nominee must be appointed at the time of registration.</li>
        <li><strong>Choosing a Name:</strong> The company name should be unique and should not resemble any existing company or trademark. The name should reflect the legal profession if it’s a law firm. For example: "John Doe Legal OPC Pvt. Ltd."</li>
        <li><strong>Obtaining Director Identification Number (DIN):</strong> The director (the lawyer in this case) needs to obtain a DIN (Director Identification Number), which is required to become a director in any company.</li>
        <li><strong>Registering the Company:</strong> The OPC must be registered with the Registrar of Companies (RoC), and the application must be submitted online to the Ministry of Corporate Affairs (MCA).</li>
        <li><strong>Obtaining Certificate of Incorporation:</strong> After submission of all documents and approvals, the Registrar of Companies will issue a Certificate of Incorporation.</li>
        <li><strong>Complying with Legal Formalities:</strong> After the OPC is set up, you must comply with basic corporate governance, which includes maintaining financial records, filing annual returns, and other compliance activities.</li>
      </ol>
    </section>
  
    <section>
      <h2>Benefits of Setting Up an OPC for Lawyers</h2>
      <ul>
        <li><strong>Limited Liability:</strong> As the sole shareholder of an OPC, the lawyer's personal assets are protected from any legal or financial liabilities of the company.</li>
        <li><strong>Easier Operation:</strong> OPCs have fewer statutory requirements compared to other company forms. For example, there’s no need for AGMs, which can save the lawyer time and resources.</li>
        <li><strong>Separate Legal Entity:</strong> An OPC is considered a separate legal entity, so it can sign contracts, hold property, and be sued or sue in its name.</li>
        <li><strong>Sole Ownership:</strong> Lawyers who prefer not to share the ownership of their business can benefit from the OPC structure, as it allows one person to run the company entirely on their own.</li>
        <li><strong>Nominee Appointment:</strong> In case the lawyer faces an unfortunate situation (e.g., passing away), the nominee will take over the business, ensuring smooth continuity.</li>
        <li><strong>Professional Independence:</strong> Lawyers running an OPC have greater autonomy in managing their business operations and financials.</li>
      </ul>
    </section>
  
    <section>
      <h2>Challenges of Lawyer OPC</h2>
      <ul>
        <li><strong>Limitations on Shareholders:</strong> An OPC can only have one shareholder. While this is ideal for solo practitioners, it does not allow for multiple partners or shareholders.</li>
        <li><strong>Not Suitable for Larger Law Firms:</strong> If the lawyer wants to run a large firm with multiple partners, the OPC structure may not be the right choice.</li>
        <li><strong>No Funding from Investors:</strong> OPCs are restricted in terms of raising capital from outside investors.</li>
        <li><strong>Exit and Transfer of Ownership:</strong> Transferring the ownership or shareholding in an OPC is not as easy as in a private limited company. The transfer can only occur by converting the OPC into a private limited company.</li>
      </ul>
    </section>
  </div>
  